        <button type="submit">Login</button>
    </form>

    <div class="github-container">
        <a href="/github">
            <button type="button" class="github-login">
                <i class="bi bi-github">login with github</i>
            </button>
        </a>
    </div>


    <p>No tenes una cuenta?  <a href="/registro">Registrate</a></p>
</div>